*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

input {
  border: none;
  outline: none;
  background: transparent;
}

ul,
ol {
  list-style: none;
}

button {
  cursor: pointer;
  background: none;
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

a[href^='mailto:'],
a[data-href] {
  color: var(--contrast);
  transition: color var(--transition-fast) ease;
}

a[href^='mailto:']:hover,
a[data-href]:hover {
  color: var(--color);
}
