/* ========================================
   FOOTER
   ======================================== */

/* Wave Svg ------------------------------------ */

.wave-footer {
  top: calc(clamp(30px, 8vw, 30px) * -1);
  left: 0;
  height: clamp(30px, 8vw, 30px);
  fill: var(--bg);
  pointer-events: none;
  transform: rotate(180deg);
}

/* Responsive ------------------------------------ */

@media (min-width: 36rem) {
  .footer-bottom {
    flex-direction: row;
  }
}
