---
import TechCarousel from '../ui/TechCarousel.vue';
---

<section id="competences" class="section">
  <div class="container">
    <div class="section-header">
      <h2>Compétences</h2>
      <div class="separator-h separator-h-gradient"></div>
      <p class="section-description">Les technologies que je maîtrise pour donner vie à vos projets.</p>
    </div>
  </div>
  <TechCarousel client:visible />
</section>

<style>
  #competences {
    background: var(--gradient-bg-1);
    padding-bottom: 0rem !important; /* Réduit drastiquement pour l'effet overlap */
  }
</style>
