---
import TechCarousel from '../ui/TechCarousel.astro';
---

<section id="competences" class="section bg-surface p-relative">
  <div class="container">
    <div class="section-header">
      <h2>Compétences</h2>
      <div class="separator-h separator-h-gradient"></div>
      <p class="section-description">Technologies, outils et environnement pour créer des projets performants.</p>
    </div>
  </div>
  <TechCarousel />
</section>

<style>
  @import '../../assets/styles/sections/competence.css';
</style>
