---
import ProjectAccordion from '../portfolio/ProjectAccordion.vue';
---

<section id="portfolio" class="section bg-alt">
  <div class="container">
    <div class="section-header">
      <h2>Portfolio</h2>
      <div class="separator-h separator-h-gradient"></div>
      <p class="section-description">Découvrez mes projets et réalisations techniques.</p>
    </div>
    <ProjectAccordion client:load />
  </div>
</section>
