/* ========================================
  CONTACT SECTION
  ======================================== */

.contact-window {
  max-width: 100%;
}

/* ========================================
  RESPONSIVE
  ======================================== */

@media (max-width: 1200px) {
  .contact-window {
    margin: 0 auto;
    max-width: 600px;
  }
}
