/* === LAYOUT === */
.d-flex { display: flex; }
.d-grid { display: grid; }
.p-relative { position: relative; }
.p-absolute { position: absolute; }

/* === TYPOGRAPHY === */
.text-uppercase { text-transform: uppercase; }

/* === TEXT ALIGNEMENT === */
.text-center { text-align: center; }

/* === ALIGNEMENT === */
.ai-center { align-items: center; }
.jc-center { justify-content: center; }
.jc-between { justify-content: space-between; }
.jc-around { justify-content: space-around; }
.js-center { justify-self: center; }
.fd-column { flex-direction: column; }
.pi-center { place-items: center; }

/* === SPACING === */
.gap-1 { gap: var(--spacing-1); }
.gap-2 { gap: var(--spacing-2); }
.gap-3 { gap: var(--spacing-3); }
.gap-4 { gap: var(--spacing-4); }
.gap-8 { gap: var(--spacing-8); }

/* === SIZING === */
.w-100 { width: 100%; }
.h-100 { height: 100%; }

/* === SHAPE === */
.octagon {
   clip-path: var(--octagon-clip);
}
