:root{
  
  /* === COLORS ==== */
  --color-primary: #1a1f3a;
  --color-text-primary: #ffffff;
  --color-text-secondary: rgba(255, 255, 255, 0.7);

  /* ===TYPOGRAPHIE === */
  --font-family-primary: 'Inter', system-ui, sans-serif;

   /* === SPACING SYSTÈME === */
  --spacing-1: 0.25rem;   /* 4px */
  --spacing-2: 0.5rem;    /* 8px */
  --spacing-3: 0.75rem;   /* 12px */
  --spacing-4: 1rem;      /* 16px */
  --spacing-5: 1.25rem;   /* 20px */
  --spacing-6: 1.5rem;    /* 24px */
  --spacing-8: 2rem;      /* 32px */

  /* === TRANSITIONS === */
  --transition-fast: .3s
}