---
import '../assets/styles/main.css';
import Navigation from '../components/layouts/Navigation.vue';
import Footer from '../components/layouts/Footer.astro';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap"
      rel="stylesheet"
    />

    <title>Noc</title>
  </head>
  <body>
    <!--<div class="fixed-background"></div>-->
    <Navigation client:load />
    <div class="teleport-container"></div>
    <slot />
    <Footer />
    <script>
      import { initLenis, initCurtainEffect, initProfileAnimations, initAnchorLinks } from '../utils/ScrollManager';
      window.addEventListener('DOMContentLoaded', () => {
        initLenis();
        initCurtainEffect();
        initAnchorLinks();

        setTimeout(() => {
          initProfileAnimations();
        }, 100);
      });
    </script>
  </body>
</html>
